.profile__edit-button {
    margin: 0;
    padding: 0;
    margin-bottom: 9px;
    box-sizing: border-box;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../../../images/Profile_EditButton.svg);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #FFF;
    background-color: transparent;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: 0.2s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 990px) {
    .profile__edit-button {
        position: absolute;
        top: 15px;
        right: -42px;
    }
}

@media screen and (max-width: 568px) {
    .profile__edit-button {
        margin-bottom: 7px;
        background-size: 7.5px;
        top: 8px;
        right: -28px;
        height: 18px;
        width: 18px;
    }
}