.picture-popup__caption {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -25px;
    left: 0;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}