.popup__container {
    position: fixed;
    z-index: 1;
    display: grid;
    gap: 8px;
    grid-template-columns: 430px 32px;
    grid-template-rows: 32px 1fr;
}

@media screen and (max-width: 568px) {
    .popup__container {
        display: flex;
        gap: 16px;
        right: 0;
        left: 0;
        flex-direction: column;
        padding: 0 19px;
        max-width: 100%;
    }
}