.popup__container {
    box-sizing: border-box;
    position: relative;
    max-width: 430px;

}

@media screen and (max-width: 568px) {
    .popup__container {
        flex-direction: column;
        padding: 0 19px;
        max-width: 100%;
    }
}