.header__line {
    margin: 0;
    padding: 0 0 40px;
    box-sizing: border-box;
    max-height: 74px;
    border: none;
    border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 568px) {
    .header__line {
       padding-bottom: 26.6px;
    }
}