.header__logo {
    max-width: 142px;
    object-fit: cover;
}

@media screen and (max-width: 760px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .header__logo {
        max-width: 103.74px;
    }
}