.header__logo {
    max-width: 142px;
    max-height: 33px;
    margin-bottom: 41px;
}

@media screen and (max-width: 760px) {
    .header__logo {
        margin-left: 27px;
    }
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-bottom: 31.6px;
    }
}