.profile__edit-button-picture {
    max-width: 10px;
    max-height: 10px;
}

@media screen and (max-width: 568px) {
    .profile__edit-button-picture {
        max-width: 7.5px;
        max-height: 7.5px;
    }
}