.header {
    margin: 0;
    box-sizing: border-box;
    padding: 0 200px;
    width: 100%;
}

.header::after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    height: 38px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 1190px) {
    .header {
        padding: 0 100px;
    }
}

@media screen and (max-width: 990px) {
    .header {
        padding: 0 50px;
    }
}


@media screen and (max-width: 760px) {
    .header {
        padding: 0;
    }
}

@media screen and (max-width: 568px) {
    .header::after {
       height: 28.6px;
    }
}