.profile__title {
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    max-width: 294px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}

@media screen and (max-width: 990px) {
    .profile__title {
        text-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 568px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }
}