.elements {
    box-sizing: border-box;
    padding: 0 200px;
    margin: 0;
}

@media screen and (max-width: 1190px) {
    .elements {
        padding: 0 100px;
    }
}

@media screen and (max-width: 990px) {
    .elements {
        padding: 0 50px;
    }
}

@media screen and (max-width: 760px) {
    .elements {
        padding: 0 19px;
    }
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .elements {
        padding: 0 19px;
    }
}