.popup__submit-button_disabled {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 358px;
    border-radius: 2px;
}

@media screen and (max-width: 568px) {
    .popup__submit-button_disabled {
        font-size: 14px;
        line-height: 17px;
        margin-top: 15px;
        height: 46px;
        width: 100%;
    }
}