.profile__description {
    margin: 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 990px) {
    .profile__description {
        margin-bottom: 33px;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        justify-self: center;
    }
}

@media screen and (max-width: 568px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        width: 189px;
    }
}