.profile__description {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 934px) {
    .profile__description {
        margin-bottom: 36px;
        text-align: center;
    }
}

@media screen and (max-width: 568px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
    }
}