.profile__avatar-info {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (max-width: 934px) {
    .profile__avatar-info {
        gap: 0;
    }
}