.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/EditForm_CloseIcon.svg);
    background-size: 32px;
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 568px) {
    .popup__close-button {
        top: -36px;
        right: 19px;
        background-size: 20px;
        width: 20px;
        height: 20px;
    }
}