.popup__container {
    margin: 0;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    position: relative;
    max-width: 430px;
    border: none;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 568px) {
    .popup__container {
        flex-direction: column;
        margin: 0 19px;
        padding: 25px 22px;
        max-width: 282px;
    }
}