.element__like-button {
    margin: 0;
    padding: 0;
    border: none;
    align-self: center;
    background-image: url(../../../images/Elements_LikeButton.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    height: 19px;
    width: 22px;
}

.element__like-button:hover {
    opacity: 0.5;
}