.element {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFF;
    color: #000;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 568px) {
    /* мобильные устройства */
    .elements__list {
        max-width: 282px;
    }
}